<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Usuarios — SAFE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'accounts/css/usuarios.css' %}">
</head>

      <header class="top">
        <img class="logo" src="{% static 'img/safe_logo.jpeg' %}" alt="SAFE">
        <div>
          <p class="subtitle">Sistema Académico de Formación Empresarial</p>
          <h1 class="title">Usuarios</h1>
        </div>
      </header>

	<form method="post" action="{% url 'user_add' %}">
		{% csrf_token %}
		<input name="username" placeholder="Nombre" required>
		<input name="email" placeholder="Email" required>
		<button>Agregar</button>
	</form>

	<table border="1" cellpadding="6" cellspacing="0">
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Email</th>
			<th></th>
		</tr>
		{% for u in usuarios %}
		<tr>
			<td>{{ u.id }}</td>
			<td>{{ u.username }}</td>
			<td>{{ u.email }}</td>
			<td>
				<form method="post" action="{% url 'user_del' u.id %}" style="display:inline">
					{% csrf_token %}
					<button onclick="return confirm('¿Eliminar {{u.username}}?')">Eliminar</button>
				</form>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="4">Sin usuarios</td>
		</tr>
		{% endfor %}
	</table>
</body>

</html>